* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


.main {
    margin-top: 20px;

    .logo {

        display: flex;

        .list {
            margin-top: 10px;

            .aksiya {
                color: red;
            }
        }
    }



}

.col-9 {
    img {
        margin-top: 10px;
    }
}


.slider-menu {
    line-height: 26px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-right: 10px;

    ul {
        margin-top: 13px;
        padding-left: 15px;


        li {
            list-style: none;


            a {
                font-size: 14px;
                color: #3C3F42;
                display: flex;
                justify-content: space-between;
                text-decoration: none;



                i {
                    font-size: 18px;

                    &:nth-child(3) {
                        margin-left: 45px;
                        font-size: 13px;
                        text-align: end;
                    }


                }

                span {
                    flex: auto;

                }

                .span1 {
                    color: #ec2127;
                }

                img {
                    margin-bottom: 5px;
                    width: 20px;
                    height: 20px;
                }



            }



        }



    }
}

.main2 {
    height: 70px;
    background-color: rgb(68, 68, 68);

    .col-4-sign {


        ul {
            position: relative;
            top: 22px;
            left: 40px;
            list-style: none;
            display: flex;

            li {
                list-style: none;
            }

            a {
                color: white;
                text-decoration: none;

                p {
                    text-decoration: none;

                }

            }

            .item {
                padding-left: 15px;
            }


            .item1 {
                padding-left: 45px;
            }

            i {
                font-size: 20px;
            }


        }



    }


    .col-4-catalog {
        display: flex;
        height: 70px;
        width: 305px;
        background-color: rgb(36, 36, 36);

        i {
            padding-left: 20px;
            font-size: 25px;
            color: white;
            padding-top: 25px;
        }
    }

    .text-12 p {
        color: white;
        font-size: 20px;
        padding-left: 10px;
        padding-top: 22px;
    }

    .search {
        height: 70px;
        width: 500px;
    }

    .all-col {
        display: flex;
    }

    .col-4-search {

        .search-area {
            margin-left: 15px;
            margin-top: 10px;
            width: 500px;
            height: 50px;
        }

        .icon1 {
            padding: 15px;
            margin-left: -15px;
            margin-top: 10px;
            width: 50px;
            height: 50px;
            background-color: white;
            font-size: 20px;
            color: black;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }

    }
}

.all-col {
    display: flex;

    .col-6-left {
        margin-top: 70px;
        margin-left: 130px;

        .body1 {
            height: 150px;
            padding: 30px;
            background-color: rgb(236, 236, 236);
            position: relative;


            img {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 150px;

            }

        }

    }

    .col-6-right {
        margin-right: 140px;
        margin-top: 70px;


        .body1 {
            height: 150px;
            padding: 30px;
            background-color: rgb(236, 236, 236);



        }
    }
}

.new {
    margin-top: 50px;
    width: 400px;
    display: flex;

    .new1 {
        margin-left: 35px;
    }

    .new2 {
        padding-top: 10px;
        padding-left: 25px;

        a {
            color: rgb(105, 105, 105);
        }
    }
}

.col-3-card {

    margin-left: 35px;

    img {
        margin-top: 50px;
    }

    .news {

        background-color: green;
        padding: 7px;
        color: white;
        font-size: 10px;
    }

    .news2 {
        background-color: rgb(135, 0, 224);
        padding: 7px;
        color: white;
        font-size: 10px;

    }

    .cost {
        display: flex;

        h2 {
            padding-top: 20px;
            font-size: 25px;
            margin-left: 15px;
            font-weight: bold;

        }

        i {
            margin-top: 40px;
            margin-left: 120px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: rgb(255, 255, 255);
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            color: rgb(255, 0, 0);
            padding-top: 11px;
            padding-left: 10px;


        }
    }

    .foot {
        display: flex;

        i {
            margin-top: 40px;
            margin-left: 15px;
            color: rgb(255, 102, 0);
        }

        p {
            margin-top: 35px;
            margin-left: 15px;
            border-bottom: 1px dotted black;
        }

    }



    .news3 {
        background-color: rgb(247, 255, 240);
        font-size: 10px;
        color: rgb(13, 158, 0);
        padding: 7px;
        margin-left: 15px;
        width: 165px;
        height: 25px;
    }

    .news4 {
        background-color: rgb(73, 76, 255);
        font-size: 10px;
        color: rgb(255, 255, 255);
        padding: 7px;
        margin-left: 15px;
        margin-top: 10px;
        width: 75px;
        height: 25px;

    }

    .text1 {
        margin-top: 10px;
        margin-left: 15px;
        font-size: 13px;


    }

    ul {
        display: flex;
        text-decoration: none;

        li {
            list-style: none;
            padding-left: 5px;

            a {

                i {
                    color: rgb(236, 236, 236);
                }
            }
        }
    }

    a {
        height: 230px;

        img {
            padding-left: 25px;
            padding-right: 25px;
        }
    }




    .icon {
        display: flex;
        margin-top: 30px;
        margin-left: 200px;


        i {
            font-size: 25px;
            color: rgb(105, 105, 105);
            padding-left: 10px;


        }
    }
}

.all-brand {
    display: flex;

    .brend1 {

        margin-top: 100px;
        margin-left: 35px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: rgb(231, 231, 231);

        img {
            padding-left: 15px;
            padding-top: 76px;
        }

    }

    .brend2 {

        margin-top: 100px;
        margin-left: 35px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: rgb(231, 231, 231);

        img {
            padding-left: 22px;
            padding-top: 75px;
        }

    }

    .brend3 {

        margin-top: 100px;
        margin-left: 35px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: rgb(231, 231, 231);

        img {
            padding-left: 22px;
            padding-top: 75px;
        }

    }

    .brend4 {

        margin-top: 100px;
        margin-left: 35px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: rgb(231, 231, 231);

        img {
            padding-left: 15px;
            padding-top: 76px;
        }

    }

    .brend5 {

        margin-top: 100px;
        margin-left: 35px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: rgb(231, 231, 231);

        img {
            padding-left: 5px;
            padding-top: 75px;
        }

    }

    .brend6 {

        margin-top: 100px;
        margin-left: 35px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: rgb(231, 231, 231);

        a {
            color: black;
            font-size: 20px;
            text-decoration: none;
            list-style: none;
        }

        p {
            padding-left: 15px;
            padding-top: 85px;

        }
    }


}


.maxi-secim {
    width: 100%;
    height: 200px;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 50px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;


    .maxi {
        font-weight: bold;
        font-size: 45px;
        color: #ec2127;
        position: relative;
        top: 40px;
        left: 40px;

    }

    .secimi {
        font-weight: bold;
        font-size: 45px;
        color: #0011ff;
        position: relative;
        top: 40px;
        left: 40px;
        padding-left: 10px;

    }

    img {
        width: 150px;
        height: 100px;
        position: relative;
        left: 870px;
    }
}

.title {
    display: flex;
    width: 100%;
    height: 500px;
    background-color: orange;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    ul {
        width: 350px;
        position: relative;
        top: 120px;
        left: 80px;


        li {
            padding-top: 10px;
            color: white;

        }
    }


    .clock {
        position: relative;
        top: 30px;
        width: 250px;
        height: 80px;
        background-color: rgb(255, 230, 0);
        border-radius: 20px;

        p {
            padding-top: 10px;
            font-size: 14px;
            font-weight: bold;
            position: relative;
            text-align: center;

        }
    }




}

.title-picture {
    display: flex;



    .picture {
        position: relative;
        top: 140px;
        left: 250px;
        width: 600px;
        height: 270px;
        background-color: #ffffff;
        border-radius: 20px;

        img {
            height: 230px;
            padding-top: 30px;
            padding-left: 20px;
        }


    }
}

.text {


    .sifaris {
        overflow-x: hidden;
        top: 160px;
        left: -110px;
        width: 120px;
        height: 50px;
        background-color: #ec2127;
        border-radius: 10px;
        position: relative;
        color: white;
        text-align: center;
        font-weight: bold;
        padding-top: 12px;
        cursor: pointer;
    }

    span {
        font-size: 30px;
        font-weight: bold;
        color: #ec2127;
        position: relative;
        top: 140px;
        left: -110px;
    }

    p {
        width: 330px;
        position: relative;
        top: 160px;
        left: -110px;
        font-weight: bold;
    }

    ul {
        position: relative;
        left: -150px;
        top: 140px;
        display: flex;
        list-style: none;

        li {


            i {
                color: #a0a0a0;
                padding-left: 5px;
            }
        }
    }

}

.title-1 {

    background-color: rgb(251, 230, 155);
    padding: 7px;
    color: rgb(0, 0, 0);
    font-size: 12px;
}

.title-2 {
    position: relative;
    top: 10px;
    font-weight: bold;
}

.title-3 {
    font-size: 13px;
    color: #a0a0a0;
    position: relative;
    top: 5px;
    left: 160px;
}

.titles {

    display: flex;
}



.cards {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.footer-widget__subscribe img[data-v-9ece32e4] {
    
    width: 55px;
    height: 55px;
}

.footer-widget__subscribe[data-v-9ece32e4] {
    position: fixed;
    bottom: 7%;
    right: 5%;
    z-index: 1;
    cursor: pointer;
}




.manat {
    overflow-x: hidden;
    width: 99%;
    height: 300px;
    background-color: #ffffff;
    border-radius: 20px;
    position: relative;
    top: 150px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;


    .m10 {

        font-size: 50px;
        color: #f70000;
        font-weight: bold;
        position: relative;
        top: 40px;
        left: 30px;
    }

    .manat1 {
        font-size: 35px;
        color: #000000;
        font-weight: bold;
        position: relative;
        top: 40px;
        left: 30px;
        padding-left: 10px;
    }

    .hediyye {
        font-size: 35px;
        color: #000000;
        font-weight: bold;
        position: relative;
        top: 100px;
        left: -168px;

    }


    .bildiris {
        width: 100px;
        font-size: 15px;
        color: #000000;
        position: relative;
        top: 40px;
        left: -100px;
    }

    .name1 {
        width: 250px;
        height: 50px;
        position: relative;
        top: 45px;
        left: 389px;
    }

    .name2 {
        width: 250px;
        height: 50px;
        position: relative;
        top: 45px;
        left: 419px;
    }

    .flex {
        display: flex;
    }

    .name3 {
        position: relative;
        top: 45px;
        left: 389px;
    }

    .abune-ol {
        top: -46px;
        left: 967px;
        width: 300px;
        height: 50px;
        background-color: #ec2127;
        border-radius: 10px;
        position: relative;
        color: white;
        text-align: center;
        font-weight: bold;
        padding-top: 12px;
        cursor: pointer;
    }
}

.all-footur{
    display: flex;
}

.footer {
    overflow: hidden;
    position: relative;
    top: 300px;
    width: 100%;
    height: 500px;
    background-color: rgb(41, 41, 41);

    .contact1 {

        font-size: 40px;
        color: white;
        font-weight: bold;
        position: relative;
        top: 50px;
        left: 50px;

    }

    .zeng-et {
        width: 260px;
        font-size: 20px;
        color: white;
        position: relative;
        top: 60px;
        left: 60px;
    }

    ul{
        display: flex;
        list-style: none;

        i{
            font-size: 40px;
            padding-left: 35px;
            color: #ffffff;
            position: relative;
            top: 70px;


        }
    }

}

.footur1{
    color: #ffffff;
    font-size: 15px;
    position: relative;
    top: -130px;
    left: 300px;
}

.footur2{
    color: #ffffff;
    font-size: 15px;
    position: relative;
    top: -130px;
    left: 200px;
}

.footur3{
    color: #ffffff;
    font-size: 15px;
    position: relative;
    top: -130px;
    left: 100px;
}


