* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  margin-top: 20px;
}
.main .logo {
  display: flex;
}
.main .logo .list {
  margin-top: 10px;
}
.main .logo .list .aksiya {
  color: red;
}

.col-9 img {
  margin-top: 10px;
}

.slider-menu {
  line-height: 26px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-right: 10px;
}
.slider-menu ul {
  margin-top: 13px;
  padding-left: 15px;
}
.slider-menu ul li {
  list-style: none;
}
.slider-menu ul li a {
  font-size: 14px;
  color: #3C3F42;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}
.slider-menu ul li a i {
  font-size: 18px;
}
.slider-menu ul li a i:nth-child(3) {
  margin-left: 45px;
  font-size: 13px;
  text-align: end;
}
.slider-menu ul li a span {
  flex: auto;
}
.slider-menu ul li a .span1 {
  color: #ec2127;
}
.slider-menu ul li a img {
  margin-bottom: 5px;
  width: 20px;
  height: 20px;
}

.main2 {
  height: 70px;
  background-color: rgb(68, 68, 68);
}
.main2 .col-4-sign ul {
  position: relative;
  top: 22px;
  left: 40px;
  list-style: none;
  display: flex;
}
.main2 .col-4-sign ul li {
  list-style: none;
}
.main2 .col-4-sign ul a {
  color: white;
  text-decoration: none;
}
.main2 .col-4-sign ul a p {
  text-decoration: none;
}
.main2 .col-4-sign ul .item {
  padding-left: 15px;
}
.main2 .col-4-sign ul .item1 {
  padding-left: 45px;
}
.main2 .col-4-sign ul i {
  font-size: 20px;
}
.main2 .col-4-catalog {
  display: flex;
  height: 70px;
  width: 305px;
  background-color: rgb(36, 36, 36);
}
.main2 .col-4-catalog i {
  padding-left: 20px;
  font-size: 25px;
  color: white;
  padding-top: 25px;
}
.main2 .text p {
  color: white;
  font-size: 20px;
  padding-left: 10px;
  padding-top: 22px;
}
.main2 .search {
  height: 70px;
  width: 500px;
}
.main2 .all-col {
  display: flex;
}
.main2 .col-4-search .search-area {
  margin-left: 15px;
  margin-top: 10px;
  width: 500px;
  height: 50px;
}
.main2 .col-4-search .icon1 {
  padding: 15px;
  margin-left: -15px;
  margin-top: 10px;
  width: 50px;
  height: 50px;
  background-color: white;
  font-size: 20px;
  color: black;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.all-col {
  display: flex;
}
.all-col .col-6-left {
  margin-top: 70px;
  margin-left: 130px;
}
.all-col .col-6-left .body1 {
  height: 150px;
  padding: 30px;
  background-color: rgb(236, 236, 236);
  position: relative;
}
.all-col .col-6-left .body1 img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 150px;
}
.all-col .col-6-right {
  margin-right: 140px;
  margin-top: 70px;
}
.all-col .col-6-right .body1 {
  height: 150px;
  padding: 30px;
  background-color: rgb(236, 236, 236);
}

.new {
  margin-top: 50px;
  width: 400px;
  display: flex;
}
.new .new1 {
  margin-left: 35px;
}
.new .new2 {
  padding-top: 10px;
  padding-left: 25px;
}
.new .new2 a {
  color: rgb(105, 105, 105);
}

.col-3-card {
  margin-left: 35px;
}
.col-3-card img {
  margin-top: 50px;
}
.col-3-card .news {
  background-color: green;
  padding: 7px;
  color: white;
  font-size: 10px;
}
.col-3-card .news2 {
  background-color: rgb(135, 0, 224);
  padding: 7px;
  color: white;
  font-size: 10px;
}
.col-3-card .cost {
  display: flex;
}
.col-3-card .cost h2 {
  padding-top: 20px;
  font-size: 25px;
  margin-left: 15px;
  font-weight: bold;
}
.col-3-card .cost i {
  margin-top: 40px;
  margin-left: 120px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: rgb(255, 0, 0);
  padding-top: 11px;
  padding-left: 10px;
}
.col-3-card .foot {
  display: flex;
}
.col-3-card .foot i {
  margin-top: 40px;
  margin-left: 15px;
  color: rgb(255, 102, 0);
}
.col-3-card .foot p {
  margin-top: 35px;
  margin-left: 15px;
  border-bottom: 1px dotted black;
}
.col-3-card .news3 {
  background-color: rgb(247, 255, 240);
  font-size: 10px;
  color: rgb(13, 158, 0);
  padding: 7px;
  margin-left: 15px;
  width: 165px;
  height: 25px;
}
.col-3-card .news4 {
  background-color: rgb(73, 76, 255);
  font-size: 10px;
  color: rgb(255, 255, 255);
  padding: 7px;
  margin-left: 15px;
  margin-top: 10px;
  width: 75px;
  height: 25px;
}
.col-3-card .text1 {
  margin-top: 10px;
  margin-left: 15px;
  font-size: 13px;
}
.col-3-card ul {
  display: flex;
  text-decoration: none;
}
.col-3-card ul li {
  list-style: none;
  padding-left: 5px;
}
.col-3-card ul li a i {
  color: rgb(236, 236, 236);
}
.col-3-card a {
  height: 230px;
}
.col-3-card a img {
  padding-left: 25px;
  padding-right: 25px;
}
.col-3-card .icon {
  display: flex;
  margin-top: 30px;
  margin-left: 200px;
}
.col-3-card .icon i {
  font-size: 25px;
  color: rgb(105, 105, 105);
  padding-left: 10px;
}

.all-brand {
  display: flex;
}
.all-brand .brend1 {
  margin-top: 100px;
  margin-left: 35px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgb(231, 231, 231);
}
.all-brand .brend1 img {
  padding-left: 15px;
  padding-top: 76px;
}
.all-brand .brend2 {
  margin-top: 100px;
  margin-left: 35px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgb(231, 231, 231);
}
.all-brand .brend2 img {
  padding-left: 22px;
  padding-top: 75px;
}
.all-brand .brend3 {
  margin-top: 100px;
  margin-left: 35px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgb(231, 231, 231);
}
.all-brand .brend3 img {
  padding-left: 22px;
  padding-top: 75px;
}
.all-brand .brend4 {
  margin-top: 100px;
  margin-left: 35px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgb(231, 231, 231);
}
.all-brand .brend4 img {
  padding-left: 15px;
  padding-top: 76px;
}
.all-brand .brend5 {
  margin-top: 100px;
  margin-left: 35px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgb(231, 231, 231);
}
.all-brand .brend5 img {
  padding-left: 5px;
  padding-top: 75px;
}
.all-brand .brend6 {
  margin-top: 100px;
  margin-left: 35px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgb(231, 231, 231);
}
.all-brand .brend6 a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  list-style: none;
}
.all-brand .brend6 p {
  padding-left: 15px;
  padding-top: 85px;
}/*# sourceMappingURL=style.css.map */